extends baseEmail

block content
  p Dear #{fullName},
  p We are writing to inform you that your role within Stealth IMS has been updated. Your new role is now: #{role}.
  p Your role was changed at #{updatedAt}
  p This change may grant you additional permissions or alter your access to certain features within the platform. Please ensure you are familiar with your new responsibilities.
  p If you have any questions or need clarification about this role change, feel free to contact us and we will be happy to assist you.
  p Thank you for being a valued member of our platform.
  p Best Regards,
  p Stealth 
