extends baseEmail

block content
  p Dear #{fullName},
  p We wanted to inform you that your account with Stealth IMS has been deactivated as of [deactivatedAt]. This means that you will no longer have access to the platform until further notice.
  p If you believe this is a mistake or would like to inquire further, please contact us and we will be happy to assist you.
  p Thank you for your attention.
  p Best Regards,
  p Stealth