extends baseEmail

block content
  p Dear #{fullName},
  p We regret to inform you that your account with Stealth IMS has been permanently deleted as of [deletedAt]. All associated data has been removed from our system.
  p If this action was not initiated by you or if you have any questions, please contact our support team immediately.
  p We appreciate your understanding.
  p Best Regards,
  p Stealth 