extends baseEmail

block content
    p Dear #{fullName},
    p This is to confirm that the email for your account has been successfully changed. Your account email is now #{email}.
    p If you did not change your email, please contact us immediately to report any unauthorized access to your account.
    p If you have any issues or concerns regarding your account, please do not hesitate to contact our customer support team for further assistance.
    p Regards,
    p Stealth