extends baseEmail

block content
  p Hi #{fullName},
  p You have requested to change your email
  p Kindly verify the new email by using the following OTP
  p The OTP is 
  span(style="font-size: 2em") #{code}
  p This OTP is valid for only 10 minutes,
  p If you did not make this request, please ignore this email
  p Regards,
  p Stealth