extends baseEmail

block content
    p Dear #{email},
    p This is to confirm that the password for your account has been successfully changed. Your account is now secured with the new password that you have set.
    p If you did not change your password, please contact us immediately to report any unauthorized access to your account.
    p If you have any issues or concerns regarding your account, please do not hesitate to contact our customer support team for further assistance.
    p Regards,
    p Stealth