extends baseEmail

block content
  p Hi #{email},
  p Forgot your password? Submit a request with your new password and confirm password.
  p Your Reset Code is 
  span(style="font-size: 2em") #{code}
  p Your password reset is valid for only 10 minutes,
  p If you did not make this request, please ignore this email
  p Regards,
  p Stealth