extends baseEmail

block content
  p Dear #{fullName},
  p Thank you for your interest in joining Stealth IMS. Unfortunately, after careful review, we regret to inform you that your account application has been rejected.
  p We understand this may be disappointing, and we encourage you to register again in the future should circumstances change.
  p If you have any questions or need further clarification, feel free to reach out to our support team.
  p Thank you for your understanding.
  p Best Regards,
  p Stealth